<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ENode" connectionString="Data Source=127.0.0.1;Integrated Security=true;Initial Catalog=NCas_ENode;user id=sa;password=admin159753;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100;Asynchronous Processing=true;MultipleActiveResultSets=true" />
    <add name="NCas" connectionString="Data Source=127.0.0.1;Integrated Security=true;Initial Catalog=NCas;user id=sa;password=admin159753;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100;Asynchronous Processing=true;MultipleActiveResultSets=true" />
  </connectionStrings>
  <appSettings>
    
    <add key="BrokerAddress" value="127.0.0.1"/>
    <add key="BrokerProducerPort" value="10000"/>
    <add key="BrokerConsumerPort" value="10001"/>
    <add key="BrokerAdminPort" value="10002"/>
    <add key="CommandBingingPort" value="9002"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>