
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>BundleConfig</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
   当前账号Id: @ViewData["AccountId"]
</p>
